<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>关于</li>
      </ul>
    </div>
    <div class='inner topic'>
      <div class="topic_content">
        <%- markdown(multiline(function () {
/*
### 关于
37IOT 社区为国内最活跃的物联网开发技术社区，致力于推动物联网技术的发展。

37IOT 社区由一批专注于物联网开发的工程师发起，目前已经吸引了互联网/智能硬件/传统硬件等厂商的专业技术人员加入，我们非常欢迎更多对 物联网开发 感兴趣的朋友。

社区目前由 [@yasin](http://37iot.com/user/yasin) 在维护，有问题请联系[![QQ:1502101520](http://wpa.qq.com/pa?p=2:1502101520:52 "点击这里给我发消息")](http://wpa.qq.com/msgrd?v=3&uin=1502101520&site=qq&menu=yes)

欢迎关注官方微信公众号,每日推送精彩物联网应用案例!

![37IOT微信公众平台](http://file.37iot.com/37iot_wechat_logo.jpg)
*/
        })) %>
      </div>
    </div>
  </div>
</div>
